* {
    box-sizing: border-box;
}

.App {
    text-align: left;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
    grid-auto-flow: row;
    row-gap: 10px;
    height: 100vh;
    overflow: auto;
}

@media (min-width: 700px) {
    .App {
        grid-template-rows: 140px calc(100vh - 170px) 30px;
        grid-template-columns: 1fr 3fr;
        grid-auto-flow: column;
        row-gap: 10px;
        overflow: none;
    }
}

header.App-header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: sticky;
    top: 0px;
    background-color: rgb(168, 41, 41);
    height: 40px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.App-logo {
    display: none;
}

.App-title {
    font-size: 0.5em;
    display: block;
}

.App-header > div.buttons {
    display: block;
}

.App-intro {
    font-size: large;
}

@media (min-width: 700px) {
    header.App-header {
        position: initial;
        display: initial;
        background-color: #000;
        height: 100%;
    }

    .App-header > div.buttons {
        display: none;
    }

    .App-logo {
        display: block;
        height: 80px;
        margin: 0 auto;
    }

    .App-title {
        font-size: 1.5em;
        text-align: center;
    }
}

section {
    grid-row: 3 / -1;
}

div.episode {
    grid-area: 2 / 1 / 3 / -1;
    padding: 15px;
}

div.episode > div.buttons {
    display: none;
}

@media (min-width: 700px) {
    section {
        grid-area: 2 / 2 / 3 / -1;
    }

    div.episode {
        grid-area: 2 / 1 / -1 / 2;
        padding: 15px;
    }

    div.episode > div.buttons {
        display: block;
    }
}

h1 {
    margin: 0;
}
